* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /*criando uma variavel do css*/
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
    --default-border-radius: 1.2rem
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    width: 42.8rem;
}