header {
    background: url(../assets/HeaderBackground.png), lightgray 50% / cover no-repeat;
    width: 147rem;
    height: 45.9rem;
    flex-shrink: 0;
}

.contentHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

h1 {
    width: 31.3rem;
    color: #fff;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7.4rem;
}

p {
    width: 75.7rem;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.6rem;
    list-style: none;
}

ul > li {
    height: 4.4rem;
    border-radius: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.windows {
    width: 20.5rem;
    background: #fff;
}

.navegador {
    width: 28.1rem;
    background: #23272a;
}

ul > li > a {
    text-decoration: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linkWindows {
    color: #23272a;
}

.linkNavegador {
    display: flex;
    color: #fff;
}

section {
    width: 147rem;
    height: 44.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex-shrink: 0;
}

.sectionImage {
    width: 60.7rem;
    height: 39.4rem;
    flex-shrink: 0;
}

.sectionText {
    width: 34.8rem;
    height: 37.4rem;
}

.sectionText > h2 {
    width: 34.8rem;
    color: #23272a;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sectionText > p {
    width: 34.8rem;
    color: #23272a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.colorSection {
    flex-direction: row-reverse;
    background: #f6f6f6;
}

.colorSection2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    padding: 4rem 0;
    gap: 1.6rem;
}

.title {
    width: 60.8rem;
    color: #23272A;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    width: 80.2rem;
    color: #23272A;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    width: 147rem;
    height: 13.4rem;
    background: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 3.5rem 0 3.6rem 0;
}

@media screen and (max-width: 42.8rem) {
    header {
        background: url(../assets/Header-Background.png), lightgray -71.1152rem 0 / 343.529% 100% no-repeat;
        width: 42.8rem;
        height: 50.6rem;
    }

    .contentHeader {
        width: 42.8rem;
        align-items: flex-start;
        padding: 0 2.4rem;
    }

    h1 {
        width: 27.8rem;
        font-size: 3.2rem;
        text-align: start;
    }
    
    p {
        width: 38.1rem;
        text-align: start;
    }
    
    
    ul {
        flex-direction: column;
        align-items: center;
    }

    .windows {
        width: 38.1rem;
        height: 5.4rem;
    }
    
    .navegador {
        width: 38.1rem;
        height: 5.4rem;
    }
    
    section {
        width: 42.8rem;
        height: auto;
        padding: 4rem 2.4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.7rem;
    }
    
    .sectionImage {
        width: 37.9rem;
        height: 25.2rem;
    }
    
    .sectionText {
        width: 37.8rem;
        height: auto;
    }

    .sectionText > h2 {
        width: 37rem;
        font-size: 2.4rem;
        padding-bottom: 2.7rem;
    }
    
    .sectionText > p {
        width: 37.8rem;
    }

    .colorSection {
        flex-direction: column;
    }

    .colorSection2 {
        width: 42.8rem;
        align-items: flex-start;
        padding: 4rem 2.4rem;
        gap: 2.7rem;
    }
    
    .title {
        width: 37.6rem;
        text-align: start;
        font-size: 3.2rem;
    }
    
    .text {
        width: 37.8rem;
        text-align: start;
    }

    footer {
        width: 42.9rem;
        height: 14rem;
    }

    svg {
        width: 16.2rem;
        height: 4.5rem;
    }
}

/*Media queri*/
/*@media screen and (max-width: 320px) {}

@media screen and (min-width: 380px) {}

@media screen and (min-width: 576px){}

@media screen and (min-width: 992px) {}*/