<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <a href="../index.html">Home</a>
    </div>
    <h1 class="text-2xl">Box</h1>
    <h2 class="text-lg">Box Decoration Break</h2>
    <p>
        Utilitários para controlar como os fragmentos de elementos devem ser renderizados em várias linhas, colunas ou páginas.
    </p>
    <div>
        <span class="box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white">
            <h3>box-decoration-slice</h3>
            Hello<br>
            World
        </span>
        <br>
        <span class="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white">
            <h3>box-decoration-clone</h3>
            Hello<br>
            World
        </span>
    </div>
    <h2>Box Sizing</h2>
    <p>
        Utilitários para controlar como o navegador deve calcular o tamanho total de um elemento.
    </p>
    <h3>box-border</h3>
    <div class="box-border h-32 w-32 p-4 border-4 bg-red-500">

    </div>
    <h3>box-content</h3>
    <div class="box-content h-32 w-32 p-4 border-4 bg-blue-500">

    </div>
</body>
</html>