<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <a href="../index.html">Home</a>
    </div>
    <div class="h-full">
        <h1 class="text-2xl">Ajuste do objeto (object fit)</h1>
        <div class="flex justify-center items-center bg-indigo-300">
            <h2 class="text-xl">Object-none</h2>
            <img class="object-none h-48 w-96" src="https://hermes.dio.me/articles/cover/c054c513-0699-4f86-bf81-8132f24f6e9b.png" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-indigo-300">
            <h2 class="text-xl">Object-contain</h2>
            <img class="object-contain h-48 w-96" src="https://hermes.dio.me/articles/cover/c054c513-0699-4f86-bf81-8132f24f6e9b.png" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-indigo-300">
            <h2 class="text-xl">Object-cover</h2>
            <img class="object-cover h-48 w-96" src="https://hermes.dio.me/articles/cover/c054c513-0699-4f86-bf81-8132f24f6e9b.png" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-indigo-300">
            <h2 class="text-xl">Object-fill</h2>
            <img class="object-fill h-48 w-96" src="https://hermes.dio.me/articles/cover/c054c513-0699-4f86-bf81-8132f24f6e9b.png" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-indigo-300">
            <h2 class="text-xl">Object-scale-down</h2>
            <img class="object-scale-down h-48 w-96" src="https://hermes.dio.me/articles/cover/c054c513-0699-4f86-bf81-8132f24f6e9b.png" alt="imagem dio">
        </div>
        <br>
        <h1 class="text-2xl">Posição do objeto (object position)</h1>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-none</h2>
            <img class="object-none object-none w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-left-top</h2>
            <img class="object-none object-left-top w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-top</h2>
            <img class="object-none object-top w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-right-top</h2>
            <img class="object-none object-right-top w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-left</h2>
            <img class="object-none object-left w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-center</h2>
            <img class="object-none object-center w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-right</h2>
            <img class="object-none object-right w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-left-bottom</h2>
            <img class="object-none object-left-bottom w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-bottom</h2>
            <img class="object-none object-bottom w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div>
        <br>
        <div class="flex justify-center items-center bg-green-300">
            <h2 class="text-xl">Object-right-bottom</h2>
            <img class="object-none object-right-bottom w-24 h-24" src="https://media.istockphoto.com/id/1288385045/pt/foto/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=aPaOHN1aqNcb8nHShKlUXCFowKLd8r2nkcLq6uLS2Qk=" alt="imagem dio">
        </div> 
    </div>
</body>
</html>