* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*não deixa uma caixa alterar suas medidas quando utilizada padding dentro dela*/
}

/*resolvendo o problema de medidas fixas como o px*/
:root {
    font-size: 62.5%;/*para converter o px em rem, apenas dividindo por 10. Ex:65px é igual a 6.5rem*/
}