@import url(./global.css);

body {
  background: var(--primary-color);
  color: var(--text-color);
}

/*CSS cabeçalho*/
header {
  width: 100%;
  margin-top: 6rem;
  background: linear-gradient(-45deg, rgb(86, 18, 91), rgb(15, 15, 16), rgb(39, 30, 110));
  padding: 10rem 0 30rem 0;
  animation: gradiente 12s ease infinite alternate;
  background-size: 400% 400%;
}

@keyframes gradiente {
  0%{
    background-position-x: 0%;
    background-position-y: 50%;
  }
  50%{
    background-position-x: 100%;
    background-position-y: 50%;
  }
  100%{
    background-position-x: 0%;
    background-position-y: 50%;
  }
}

header::after {
  content: "";
  height: 25rem;
  background: linear-gradient(0deg, var(--primary-color), transparent);
  position: absolute;
  bottom: 0;
}

.header-containe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.8rem;
  padding: 0 4rem;
}

.header-channels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.header-channels img {
  object-fit: contain;
}

.header-title {
  text-align: center;
  font-size: 5rem;
}

.header-title-small {
  display: block;
  font-weight: lighter;
  font-size: 3.3rem;
}

.divider {
  width: 70%;
  max-width: 70rem;
  height: 0.5rem;
  background: var(--divider-bg-color);
}

.offer {
  text-align: center;
  font-size: 2rem;
}

.offer-price {
  font-family: "Raleway", sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
}

.offer-price-small {
  font-size: 1.5rem;
  font-weight: 300;
}

header .text-small {
  text-align: center;
  max-width: 30rem;
}

.button {
  animation: shake 2.4s linear infinite;
}

@keyframes shake {
  0%, 10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  40%, 100% {
    transform: rotate(0);
  }
}

/*CSS inscrever*/
.subscribe {
  background: url("../images/background-movies-series.png") no-repeat;
  background-size: cover;    
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.subscribe-plans {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8rem;
  margin: 4rem 0;
  perspective: 200rem;
  perspective-origin: top;
}

.subscribe-card {
  background: var(--card-bg-color);
  padding: 5rem 7rem;
  border-radius: 0.8rem;
  display: flex;
  min-height: 61rem;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 1s ease-in-out;
}

.subscribe-plans:has(.subscribe-card:nth-child(1):hover) .subscribe-card:nth-child(2) {
  transform: rotateY(-45deg);
}

.subscribe-plans:has(.subscribe-card:nth-child(2):hover) .subscribe-card:nth-child(1) {
  transform: rotateY(45deg);
}

.subscribe-plan {
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  margin-bottom: 1.6rem;
}

.subscribe-price {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
  font-weight: 700;
}
  
.subscribe-price .offer-price-small {
  color: var(--text-color);
}

.subscribe-description {
  text-align: left;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 1.4rem;
  padding-left: 1.4rem;
}

.subscribe-description::marker {
  content: "+";
  font-size: 3rem;
  margin: 0 0.8rem 0 0;
}

/*CSS conteúdo*/
.contents {
  margin: 10rem auto;
}

.contents-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.card {
  border-radius: 1.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0.2rem solid transparent;
  transition: transform 0.8s, background-image 0.8s, border 1s;
}

.card:hover {
  transform: scale(1.05);
  border: 0.2rem solid var(--tertiary_color);
}

.card:hover .img-card {
  opacity: 0;
}

.img-card {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
}

/*HBO conteúdo*/
.card:nth-child(1):hover {
  background-image: url("../images/hbo-hover_0.webp");
}

/*Max Originals conteúdo*/
.card:nth-child(2):hover {
  background-image: url("../images/MAX-Hover.webp");
}

/*DC conteúdo*/
.card:nth-child(3):hover {
  background-image: url("../images/DC-Hover.webp");
}

/*WB conteúdo*/
.card:nth-child(4):hover {
  background-image: url("../images/WB-Hover.webp");
}

/*CN conteúdo*/
.card:nth-child(5):hover {
  background-image: url("../images/CN-Hover.png");
}

/*Champions League conteúdo*/
.card:nth-child(6):hover {
  background-image: url("../images/UCL-Hover.webp");
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  .subscribe-plans {
    gap: 4rem;
  }

  .contents-container {
    gap: 3.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .subscribe-plans {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-card {
    max-width: 50rem;
  }
}

@media screen and (max-width: 800px) {
  .contents-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .subscribe-price {
    font-size: 1.5rem;
  }

  .subscribe-description {
    font-size: 1rem;
  }

  .subscribe-plan {
    flex-direction: column;
    justify-content: center;
  }

  .subscribe-card {
    padding: 4rem;
  }

  .contents-container {
    grid-template-columns: repeat(6, 100%);
    grid-auto-flow: column;
    overflow: auto hidden;
  }
}

@media (pointer: coarse) {
  .card:hover {
    transform: none;
  }

  .subscribe-plans:has(.subscribe-card:nth-child(1):hover)
    .subscribe-card:nth-child(2),
  .subscribe-plans:has(.subscribe-card:nth-child(2):hover)
    .subscribe-card:nth-child(1) {
      transform: none;
    }
}