html,body{height:100%;}body{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;background:#252429;}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
	padding: 20px;
}

.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
    opacity: 0;
	max-width: 640px;
	width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}