* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

nav {
    height: 8vh;
    padding: 0 16px;
    /*flex box*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#start {
    /*flex box*/
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    justify-content: center;
}

#center {
    height: 55px;
    width: 650px;
    margin-left: 85px;
    /*flex box*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#end {
    width: 150px;
    height: 100%;
    /*flex box*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.severalButton {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.button {
    margin: 0;
}

.severalButton:hover {
    background-color: #c7cacc;
}

.fa-microphone {
    font-size: 25px;
    flex: 1;
}

.fa-bell {
    font-size: 20px;
    flex: 1;
}

.fa-video {
    width: 28px;
    height: 28px;
    flex: 1;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
}

#searchForm {
    width:650px;
    height: 40px;
    /*flex box*/
    flex: 1;
    flex-basis: 0.000000001px;
    display: flex;
    flex-direction: row;
}

form input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 40px 0 0 40px;
    float: left;
    width: 88%;
    height: auto;
    background: #f1f1f1;
    outline: none;
    
  }

  form input:focus {
    border: 2px solid #565758;
  }
  
  form button {
    float: left;
    height: 40px;
    width: 64px;
    margin: 0;   
    border-radius: 0 40px 40px 0;
    background: #c7cacc;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form button:hover {
    background: #565758;
  }

#menu {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0 40px 0 0;
    border: none;
    padding: 0;
    width: 23%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
}

#logo {
    pointer-events: none;
    display: block;
    width: 77%;
    height: 100%;
}

.hamburguer {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

img {
    width: 120px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
}

#sectionRight {
    height: 110vh;
    width: 30.6%;
}

#sectionLeft {
    height: 110vh;
    width: 69.4%;
}

#primaryContent {
    width: 952px;
    height: 746px;
    left: 65px;
    top: 84px;
    gap: 16px;
    position: absolute;
    /*flex box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#secondaryContent {
    width: 30.6%;
    height: 100%;
    left: 1015px;
    top: 84px;
    gap: 16px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#primaryContent iframe {
    width: 100%;
    height: 490px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.secondaryImag {
    width: 170px;
    height: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secondaryImag img {
    width: 170px;
    height: 90px;
    flex: none;
    flex-grow: 0;
}

.secondaryInfo {
    width: 196px;
    height: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info {
    width: 196px;
    height: 90px;
    flex: none;
    flex-grow: 1;
}

.info h5 {
    width: 196px;
    height: 32px;
    left: 176px;
    top: 0px;
    margin: 0 0 6px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;

}

.info h6 {
    width: 156px;
    height: 14px;
    left: 176px;
    margin: 0 0 6px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

}

#primaryContent h3{
    width: 871px;
    height: 23px;   
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#primaryContent nav {
    width: 922px;
    height: 42px;
    top:592px;
    gap:42px;
    /*flex box*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#subMenu {
    width: 160px;
    height: 42px;
    gap: 12px;
    /*flex box*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#primaryContent nav img {
    width: 42px;
    height: 42px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navText {
    width: 106px;
    height: 32px;
    top: 5px;
    left: 54px;
    font-style: normal;
    font-size: 14px;
    line-height: 8px;
    margin-top: 6px;
    text-decoration: none;
    /*flex box*/
    display: flex;
    flex-direction: column;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttonInscrit {
    width: 159px;
    height: 40px;
    left: 202px;
    top: 1px;
    font-size: 15px;
    background: #CC0000;
    border-radius: 2px;
    color: #fff;
    border: none;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.menuIcons {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#primaryContent h5{
    width: 391px;
    height: 216px;   
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

#primaryContent h6 {
    position: absolute;
    width: 510px;
    height: 64px;
    top: 670px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

#secundaryelsment {
    width: 160px;
    height: 938;
    top: 84px;
    left: 1052;
    gap: 16px;
}