body {
    font-family: Arial, sans-serif;
}

p {
    background-color: palegreen;
}

#conteudo p {
    background-color: palevioletred;
}

#conteudo p.texto {
    background-color: paleturquoise;
}

/*negando uma função para uma classe especifica*/
#conteudo :not(.texto) {
    color: white;
}