code {
    background-color: lightgrey;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: #d53369;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 20px 20px 10px lightgray;
}

.list li {
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 12px 32px;
    margin-bottom: 4px;
    transition: background-color .9s;
}

.list li:hover {
    background-color: #b02151;
}

.list input {
    accent-color: #daae51;
}

.list input:checked + span {
    text-decoration: line-through;
}

.list li:has(input:checked) {
    background-color: #f0ab1a;
    color: #d53369;
    border-radius: 4px;
}