@font-face {
    font-family: Roboto;/*nome que iremos chamar no projeto*/
    src: local(), url("../fonts/Roboto-Regular.ttf");/*caminho que a familia de fontes esta*/
    font-weight: normal;
} /*fonte personalizada*/
* {
    font-family: Roboto;
}
@font-face {
    font-family: Roboto1;
    src: url("../fonts/Roboto-Italic.ttf");
}
h1 {
    font-family: Roboto1;
}
@font-face {
    font-family: Roboto2;
    src: url("../fonts/Roboto-Black.ttf");
    font-weight: bold;
}
p {
    font-family: Roboto2;
    font-weight: bold;
}