body{
	background: #ccc;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

.photo{
	border: 1px solid #505050;
	border-radius: 50%;
	max-width: 200px;
}

#title, .subtitle, .post_title {
	color: #505050;
}

#title{
	font-size: 40px;
	text-transform: uppercase;
}

a{
	text-decoration: line-through;
	color: #505050;
}

.post_title{
	margin-bottom: 15px;
	font-size: 16px;
	font-style: italic;
}

.post{
	background: #fff;
	padding: 15px; /*espaçamento entre a borda e o conteudo*/
	border: 2px solid #505050; /*circunda o padding e o conteudo, pode ser alterada sua estrutura como largura e cor*/
	margin-bottom: 15px; /*espaçamento entre elementos, parte mais de fora*/
	border-radius: 5px;
}

.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
}

.post_image{
	border-radius: 5px;
	margin-bottom: 15px;
	width: 100%;
}

.contacts-list{
	padding-left: 15px;
	list-style-type: none;
}

.contacts-list li a{
	text-decoration: none;
}