*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
/*responsividade das imagens*/
div img{
    display: block;
    width: 100%;    
}
.flexContainer{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}
header .menu{
    justify-content: space-between;
}
header .listItems{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.listItems li a{
    color: #fff;
}
.presentation{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.presentation .presentationText{
    min-height: 200px;
}
.presentationText h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}
.presentationText a{
    text-decoration: none;
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 195px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px 0 10px 0;
}
#whoWeAre{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
#whoWeAre h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 30px;
}
#whoWeAre p{
    margin-bottom: 20px;
    width: 90%;
}
#whoWeAre h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}
#whoWeAre img{
    min-width: 550px;
}